.lateral{
    background-color: rgba(1, 18, 18, 0.756);
    float: left;
    height: 720px;
    width: 180px;
}
.btn-inicio{
    background-color:  rgba(1, 18, 18, 0.756);
    color: white;
}
.btn-nosotros{
    background-color:  rgba(1, 18, 18, 0.756);
    color: white;

}
.btn-perros{
    background-color:  rgba(1, 18, 18, 0.756);
    color: white;

}
.btn-gatos{
    background-color:  rgba(1, 18, 18, 0.756);
    color: white;

}
.btn-contacto{
    background-color:  rgba(1, 18, 18, 0.756);
    color: white;
}
.derecha{
    background-color: rgba(1, 18, 18, 0.756);
    float: right;
    height: 720px;
    width: 180px;
}
header h1{
    background-color: aqua;
    color: white;
    text-align: center;
    height: 180px;
    max-width: 75.4%;
    margin: 0 auto;
}
header h2{
    background-color: yellow;
    color: white;
    text-align: center;
    height: 180px;
    max-width: 75.4%;
    margin: 0 auto;
}
header h3{
    background-color: orange;
    color: white;
    text-align: center;
    height: 180px;
    max-width: 75.4%;
    margin: 0 auto;
}
header h4{
    background-color: red;
    color: white;
    text-align: center;
    height: 180px;
    max-width: 75.4%;
    margin: 0 auto;
}





