.lateral{
    background-color: rgba(1, 18, 18, 0.756);
    float: left;
    height: 1020px;
    width: 180px;
}
.btn-inicio{
    background-color:  rgba(1, 18, 18, 0.756);
    color: white;
}
.btn-nosotros{
    background-color:  rgba(1, 18, 18, 0.756);
    color: white;

}
.btn-perros{
    background-color:  rgba(1, 18, 18, 0.756);
    color: white;

}
.btn-gatos{
    background-color:  rgba(1, 18, 18, 0.756);
    color: white;

}
.btn-contacto{
    background-color:  rgba(1, 18, 18, 0.756);
    color: white;

}
