body{
    background-color: rgba(0, 247, 255, 0.937);
}

.titulo{
    display: flex;
    justify-content: center;
    color: orange;
    padding-top: 5rem;

}
.subtitulo{
    display: flex;
    justify-content: center;
    text-transform: lowercase;
    
    
}
.imagen1{
    text-align: center;
}


.dog{
    height: 300px;
    width: 400px;
    padding-top: 5rem;
}
.perro1{
    text-align: left;
    padding-top: 5rem;
    padding-left: 5rem;
}
.cachulo{
    height: 200px; ;
    width: 200px;
}

.perro2{
    display: flex;
    flex-direction: row;
    padding-top: 5rem;
    padding-left: 20rem;
}
.niña{
    height: 200px; ;
    width: 200px;
}
.perro3{
     display: flex;
     flex-direction: row;
     padding-top: 5rem;
     padding-left: 20rem;
}
.flaca{
    height: 200px; ;
    width: 200px;
}
.perros{
    display: flex;
    flex-direction: row;
}
.nombre1{
    text-align: left;
    padding-left: 8rem;
}
.nombre2{
    padding-left: 500px;
}
.nombre3{
    padding-left: 500px;
}
.nombresp{
    display: flex;
    flex-direction: row;
}
.gato1{
    text-align: left;
    padding-top: 5rem;
    padding-left: 5rem;
}
.ginger{
    height: 200px; ;
    width: 200px;
}
.gato2{
    display: flex;
    flex-direction: row;
    padding-top: 5rem;
    padding-left: 20rem;
}
.tommy{
    height: 200px; ;
    width: 200px;
}
.gato3{
    display: flex;
    flex-direction: row;
    padding-top: 5rem;
    padding-left: 20rem;
}
.lucifer{
    height: 200px; ;
    width: 200px;
}
.gatos{
    display: flex;
    flex-direction: row;
}
.nombre4{
    text-align: left;
    padding-left: 8rem;
}
.nombre5{
    padding-left: 460px;
}
.nombre6{
    padding-left: 460px;
}
.nombresg{
    display: flex;
    flex-direction: row;
}
.imagen-cachulo{
    height: 600px; ;
    width: 500px;
    padding-top: 5rem;
    padding-left: 5rem;
}
.datos-cachulo{
    text-align: center;
    padding-top: 13rem;
    padding-left: 13rem;
}
.ordenar-datos-cachulo{
    display: flex;
    flex-direction: row;
}
.imagen-niña{
    height: 600px; ;
    width: 500px;
    padding-top: 5rem;
    padding-left: 5rem;
}
.datos-niña{
    text-align: center;
    padding-top: 13rem;
    padding-left: 13rem;
}
.ordenar-datos-niña{
    display: flex;
    flex-direction: row;
}
.imagen-flaca{
    height: 600px; ;
    width: 500px;
    padding-top: 5rem;
    padding-left: 5rem;
}
.datos-flaca{
    text-align: center;
    padding-top: 13rem;
    padding-left: 13rem;
}
.ordenar-datos-flaca{
    display: flex;
    flex-direction: row;
}
.imagen-ginger{
    height: 600px; ;
    width: 500px;
    padding-top: 5rem;
    padding-left: 5rem;
}
.datos-ginger{
    text-align: center;
    padding-top: 13rem;
    padding-left: 13rem;
}
.ordenar-datos-ginger{
    display: flex;
    flex-direction: row;
}
.imagen-tommy{
    height: 600px; ;
    width: 500px;
    padding-top: 5rem;
    padding-left: 5rem;
}
.datos-tommy{
    text-align: center;
    padding-top: 13rem;
    padding-left: 13rem;
}
.ordenar-datos-tommy{
    display: flex;
    flex-direction: row;
}
.imagen-lucifer{
    height: 600px; ;
    width: 500px;
    padding-top: 5rem;
    padding-left: 5rem;
}
.datos-lucifer{
    text-align: center;
    padding-top: 13rem;
    padding-left: 13rem;
}
.ordenar-datos-lucifer{
    display: flex;
    flex-direction: row;
}

